$font-stack: 'Loto',
Helvetica,
sans-serif;

$footer-bg: #6f42c1;
$sub-menu-bg: #b7a8d3;
$primary-color: rgb(95, 94, 94);
$primary-bg-color: black;
$secondary-color: #ccc;
$a-color: #fff;
$under-line-color: rgb(131, 229, 233);