$font-stack: 'Loto',
Helvetica,
sans-serif;

$primary-color: rgb(95, 94, 94);
$primary-bg-color: black;
$secondary-color: #ccc;
$a-color: #fff;
$under-line-color: rgb(131, 229, 233);
$footer-bg: #00a8ff;