/* https://sass-lang.com/guide */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Loto", Helvetica, sans-serif;
  background-color: #5f5e5e;
}

h1,
h2,
h3 {
  font-weight: 300 !important;
  /* we are reducing because we have big fonts */
  text-transform: uppercase;
}

h2 {
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

/* will display small line under heading */
h2::after {
  display: block;
  height: 2px;
  background: #6f42c1;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.hw_container {
  margin: 0 10% 0 10%;
  height: 100%;
}

.nav-main {
  height: 121px;
  background-color: #6f42c1;
  overflow: hidden;
}

.nav-main header {
  height: 100%;
}

.nav-main .nav-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.nav-main .nav-container .branding {
  margin-top: 45px;
}

.nav-main .nav-container .branding h1 {
  color: #fff;
}

.nav-main .nav-container .nav-menu {
  text-transform: uppercase;
  margin: 10px;
}

.nav-main .nav-container .nav-menu ul {
  list-style: none;
}

.nav-main .nav-container .nav-menu li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 60px;
}

.nav-main .nav-container .nav-menu a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.nav-main .nav-container .nav-menu a:link,
.nav-main .nav-container .nav-menu a:visited {
  text-decoration: none;
}

.nav-main .nav-container .nav-menu a:active,
.nav-main .nav-container .nav-menu a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid black;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.nav-main #nav-menu-show-div:hover + .nav-menu_sub_li {
  display: block;
  background-color: rgba(231, 212, 212, 0.808);
}

.nav-main .nav-menu_sub_li {
  position: absolute;
  display: block;
  min-height: 50px;
  width: 100%;
  z-index: 9999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
}

.nav-main .nav-menu_sub_li li {
  display: inline-block;
  text-decoration: none;
}

.nav-main .nav-menu_sub_li a {
  color: #6f42c1;
  display: block;
  margin: 25px;
}

.nav-main .nav-menu_sub_li li:hover {
  display: inline-block;
  background-color: #b7a8d3;
}

.nav-main .nav-menu_sub_li a:active,
.nav-main .nav-menu_sub_li a:hover {
  text-decoration: none;
}

.main-container {
  font-weight: 100;
}

.main-container .section-home {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("/images/home_bg_image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/images/home_bg_image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-container .section-home .hero-text {
  display: block;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 80px;
}

.main-container .section-home .hero-text h1 {
  font-size: 180%;
}

.main-container .section-home .hero-text h1::after {
  display: block;
  content: ' ';
  height: 2px;
  color: #6f42c1;
}

.main-container .section-home .home-buttons_holder a {
  display: inline-block;
  color: #fff;
  background-color: #6f42c1;
  margin: 5px;
  border-radius: 14px;
  border: 2px solid #ecca6d;
  padding: 15px 50px 15px 50px;
}

.main-container .section-home .home-buttons_holder a,
.main-container .section-home .home-buttons_holder a:active,
.main-container .section-home .home-buttons_holder a:hover {
  text-decoration: none;
}

.main-container .section-home .home-buttons_holder a:hover {
  color: #f1dea9;
  text-decoration: none;
  border: 2px solid #6f42c1;
  -webkit-transition-delay: 5ms;
          transition-delay: 5ms;
  -webkit-box-shadow: 10px 5px 5px black;
          box-shadow: 10px 5px 5px black;
}

.main-container .section-product {
  width: 100%;
  background-color: #ecca6d;
  height: 100vh;
  padding: 80px 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-footer {
  background-color: #6f42c1;
  color: black;
  font-weight: 100;
  font-size: small;
  font-style: italic;
  max-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */